<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Celery Example App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 

</head>
<body>

    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Celery Example App</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Your Task has Started!</div>
            <div class="panel-body">
                <p>Task id: {{ task_id }} </p>               
            </div>
        </div>    
    </div>

</body>
</html>